obj
*.exe
TestResults
bin
*.suo
*.vsmdi
*.opensdf
*.sdf
Uhuru.Utilities.WindowsProcess/x64
*.user
StyleCop.Cache
*.testsettings
*.trx
doc/*.xml
doc/*.XML
!src/Uhuru.CloudFoundry.Test/TestApps/Umbraco/app/bin
!src/Buildpacks/iis8/app/bin
!src/Buildpacks/iis8/bin
!src/Buildpacks/iis8/iishwc/iishwcx64.exe
!src/Buildpacks/iis8/iishwc/iishwcx86.exe