<?xml version="1.0" encoding="UTF-8"?>
<healthMonitoring heartbeatInterval="0" enabled="true">
      
	  <bufferModes>
        <add name="Custom Notification"
			 maxBufferSize="10"
			 maxFlushSize="5"
			 urgentFlushThreshold="2"
			 regularFlushInterval="Infinite"
			 urgentFlushInterval="00:00:30" />
      </bufferModes>
      
	  <providers>
	  <clear/>
        <add name="SampleEventProvider" type="CloudFoundry.Net.IIS.LogFileWebEventProvider"
			 buffer="true"
			 bufferMode="Custom Notification" />
      </providers>
      
	  <profiles>
	  <clear/>
        <add name="Custom"
			 minInstances="1"
			 maxLimit="Infinite"
			 minInterval="00:00:00" />
      </profiles>
      
	  <rules>
	  <clear/>
        <add name="Custom Event Provider"
			 eventName="All Events"
			 provider="SampleEventProvider"
			 profile="Custom" />
      </rules>

</healthMonitoring>