<?xml version="1.0"?>
<configuration>
  <configSections>
    <section name="uhuru" type="Uhuru.Configuration.UhuruSection, Uhuru.Configuration"/>
  </configSections>

  
  
  <uhuru configSource="uhuruTest.config"/>
  <appSettings>
    <add key="target" value="api.uhurucloud.net"/>
    <add key="adminUsername" value="dev@cloudfoundry.org"/>
    <add key="adminPassword" value="password1234!"/>
    <add key="umbracoRootDir" value="C:\testApps\build"/>
    <add key="nats" value="nats://nats:nats@127.0.0.1:4222"/>
  </appSettings>
  <system.net>
    <defaultProxy>
      <proxy proxyaddress="http://192.168.1.120:80" bypassonlocal="False"/>
    </defaultProxy>
    <connectionManagement>
      <add address = "*" maxconnection = "100" />
    </connectionManagement>
  </system.net>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup></configuration>
