<uhuru>
  <dea
    baseDir="c:\droplets"
    localRoute="192.168.1.1"
    filerPort="12345"
    messageBus="nats://192.168.1.1:4222/"
    multiTenant="true"
    maxMemory="4096"
    secure="true"
    enforceUlimit="true"
    forceHttpSharing="false">

    <runtimes>
      <runtime name="iis" executable="iisver.cmd" version="0x7" versionFlag="">
        <environment>
          <env name="iisVersion" value="7.0"></env>
          <env name="supportedFrameworks" value="3.5;4.0"></env>
        </environment>
        <debug>
          <debugConfiguration name="simple">
            <environment>
              <env name="useCredentials" value="true"></env>
              <env name="connectionTimeout" value="60000"></env>
            </environment>
          </debugConfiguration>
        </debug>
      </runtime>
    </runtimes>
  </dea>
  <service  nodeId="0"
            migrationNfs=""
            mbus="nats://nats:nats@192.168.1.160"
            index="0"
            zInterval="30000"
            maxDbSize="20"
            maxLongQuery="5"
            maxLongTx="10"
            localDb="localDb.xml"
            baseDir=".\"
            localRoute="198.41.0.4"
            availableStorage="1024"
            capacity="1024">

      <mssql  host="(local)" 
              user="sa" 
              password="password1234!" 
              port="1433"
              logicalStorageUnits="F" 
              initialDataSize="1MB" 
              initialLogSize="1MB"
              maxDataSize="10MB" 
              maxLogSize="2MB" 
              dataFileGrowth="1MB" 
              logFileGrowth="1MB" />
  </service>
</uhuru>