<uhuru xmlns="urn:Uhuru.Configuration">
  <dea
    baseDir="c:\droplets"
    localRoute="192.168.1.1"
    filerPort="12345"
    messageBus="nats://192.168.1.1:4222/"
    multiTenant="true"
    maxMemoryMB="4096"
    secure="true"
    enforceUlimit="true">

    <runtimes>
      <runtime name="iis" executable="iisver.cmd" version="0x7" versionFlag="">
        <environment>
          <env name="iisVersion" value="7.0"></env>
          <env name="supportedFrameworks" value="3.5;4.0"></env>
        </environment>
        <debug>
          <debugConfiguration name="simple">
            <environment>
              <env name="useCredentials" value="true"></env>
              <env name="connectionTimeout" value="60000"></env>
            </environment>
          </debugConfiguration>
        </debug>
      </runtime>
    </runtimes>
    <directoryServer v2Port="34567" streamingTimeoutMS="60000"/>
  </dea>
  <service
    nodeId="0"
    migrationNfs=""
    mbus="nats://nats:nats@192.168.1.160"
    index="0"
    zInterval="30000"
    localDb="localDb.xml"
    baseDir=".\"
    localRoute="198.41.0.4"
    capacity="1024"
    
    maxNatsPayload="1048576"
    fqdnHosts="false"
    opTimeLimit="6" >

    <mssql
      host="(local)"
      user="sa"
      password="password1234!"
      port="1433"
      maxDbSize="20"
      maxLongQuery="5"
      maxLongTx="10"
      logicalStorageUnits="C:"
      initialDataSize="4096KB"
      dataFileGrowth="5120KB"
      logFileGrowth="1024KB"
      maxDataSize="UNLIMITED"
      initialLogSize="2048KB"
      maxLogSize="UNLIMITED" />

    <uhurufs
      maxStorageSize="200"
    />
  </service>
</uhuru>