<?xml version="1.0"?>

<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>
    <system.web>
        <compilation debug="true" targetFramework="4.0" />
    </system.web>
  <appSettings>
    <add key="mongoConnectionString" value="mongodb://{mongo2#user}:{mongo2#password}@{mongo2#host}:{mongo2#port}/db"/>
  </appSettings>
</configuration>
