<?xml version="1.0" encoding="UTF-8"?>
<healthMonitoring heartbeatInterval="0" enabled="true">

  <bufferModes>
    <add name="Custom Notification" maxBufferSize="10" maxFlushSize="5" urgentFlushThreshold="2" regularFlushInterval="Infinite" urgentFlushInterval="00:00:30" />
  </bufferModes>

  <providers>
    <clear/>
    <add name="SampleEventProvider" type="Uhuru.CloudFoundry.DEA.Plugins.AspDotNetLogging.LogFileWebEventProvider, Uhuru.CloudFoundry.DEA.Plugins.AspDotNetLogging, Version=1.0.0.0, Culture=neutral, PublicKeyToken=27f9c2d85571a642" buffer="true" bufferMode="Custom Notification" />
  </providers>

  <profiles>
    <clear/>
    <add name="Custom" minInstances="1" maxLimit="Infinite" minInterval="00:00:00" />
  </profiles>

  <rules>
    <clear/>
    <add name="Custom Event Provider" eventName="All Events" provider="SampleEventProvider" profile="Custom"  minInstances="1" maxLimit="Infinite" minInterval="00:00:00"/>
  </rules>
</healthMonitoring>