<uhuru xmlns="urn:Uhuru.Configuration">
  
  <!-- uploadThrottleBitsps attribute is only supported on windows 2012 -->
  <dea
    index="0"
    
    baseDir="c:\droplets"
    localRoute="8.8.8.8"
    filerPort="12345"
    statusPort="0"
    messageBus="nats://a0d7a38e3c862368635434f6a6abf662:861aba6e6f578f98707067b9e6946528@10.0.21.11:4222"
    domain="cf.me"
    
    multiTenant="true"
    maxMemoryMB="8000"
    secure="true"
    enforceUlimit="true"
    
    heartbeatIntervalMs="10000"
    advertiseIntervalMs="5000"
    
    useDiskQuota="true"
    uploadThrottleBitsps="0"
    
    maxConcurrentStarts="3">
    
    <directoryServer v2Port="34567" streamingTimeoutMS="60000" />

    <staging 
      enabled="true" 
      buildpacksDirectory="..\src\Buildpacks"    
      gitExecutable="E:\Program Files (x86)\Git\bin\git.exe"
      stagingTimeoutMs="1200000"
    />
    
    <stacks>
      <stack name="iis8"/>
      <!--<stack name="iis8"/>-->
    </stacks>
    
  </dea>
</uhuru>