<uhuru xmlns="urn:Uhuru.Configuration">
  <dea
    index="0"
    
    baseDir="c:\droplets"
    localRoute="8.8.8.8"
    filerPort="12345"
    statusPort="0"
    messageBus="nats://nats:nats@10.0.7.122:4222"
    
    multiTenant="true"
    maxMemoryMB="8000"
    secure="true"
    enforceUlimit="true"
    
    heartbeatIntervalMs="10000"
    advertiseIntervalMs="5000"
    
    useDiskQuota="true"
    maxConcurrentStarts="3"
    
    onlyProductionApps="false"
    >
    

    <runtimes>
      <runtime name="iis" executable="iisver.cmd" version="0x7" versionFlag=""/>
    </runtimes>
    
  </dea>
</uhuru>