<uhuru>
  <dea
    baseDir="c:\droplets"
    localRoute="192.168.1.1"
    filerPort="12345"
    messageBus="nats://nats:d06b3da1a5e0e1e5@192.168.1.107:4222"
    multiTenant="true"
    maxMemory="8000"
    secure="true"
    enforceUlimit="true"
    heartBeatInterval="10000"
    forceHttpSharing="false">


    <runtimes>
      <runtime name="iis" executable="iisver.cmd" version="0x7" versionFlag=""/>
    </runtimes>
  </dea>
</uhuru>