<uhuru>
  <service  nodeId="0"
            migrationNfs=""
            mbus="nats://nats:d06b3da1a5e0e1e5@192.168.1.163:4222/"
            index="0"
            zInterval="30000"
            maxDbSize="20"
            maxLongQuery="3"
            maxLongTx="30"
            localDb="localDb.xml"
            baseDir=".\"
            localRoute="198.41.0.4"
            availableStorage="1024">
    
  <mssql    host="(local)"
            user="sa"
            password="password1234!"
            port="1433"/>
  </service>
</uhuru>