<uhuru>
  <service
    index="0"
    plan="free"
    capacity="200"
    
    baseDir=".\"
    localRoute="198.41.0.4"
    nodeId="mysql_node_free_1"
    zInterval="30000"
    mbus="nats://nats:nats@192.168.1.111:4222/"
    localDb="localDb.xml"
    migrationNfs=""

    maxNatsPayload="1048576"
    fqdnHosts="false"
    opTimeLimit="6"
    
    statusPort="0" >
    
    <mssql
      host="(local)"
      user="sa"
      password="password1234!"
      port="1433"
      
      maxDbSize="20"
      maxLongQuery="3"
      maxLongTx="30"
      maxUserConns="20"
      
      logicalStorageUnits="C" />

    <supportedVersions defaultVersion="2008">
      <supportedVersion name="2008"/>
    </supportedVersions>
  </service>
</uhuru>