<?xml version="1.0"?>
<configuration>
  <configSections>
    <section name="uhuru" type="Uhuru.Configuration.UhuruSection, Uhuru.Configuration"/>
  </configSections>
  <uhuru configSource="uhuruTest.config"/>
  <appSettings>
    <add key="target" value="api.uhurucloud.net"/>
    <add key="username" value="continuousintegration@uhurusoftware.com"/>
    <add key="password" value="password1234!"/>
    <add key="umbracoRootDir" value="D:\testApps\build"/>
    <add key="CFApiTestAppDir" value="D:\work\windea\windea\.net\cf.net\testapps\CloudTestApp"/>
    <add key="nats" value="nats://nats:nats@192.168.1.120:4222"/>
    <add key="proxy" value="192.168.1.120:80"/>
  </appSettings>
  <system.net>
    <defaultProxy>
      <proxy proxyaddress="http://192.168.1.120:80" bypassonlocal="False"/>
    </defaultProxy>
    <connectionManagement>
      <add address = "*" maxconnection = "100" />
    </connectionManagement>
  </system.net>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup></configuration>
