<?xml version="1.0"?>
<configuration>
  <!--
  <appSettings>
    <add key="baseDir" value="c:\droplets"/>
    <add key="localRoute" value="198.41.0.4"/>
    <add key="fileViewerPort" value="12345"/>
    <add key="messageBus" value="nats://nats:nats@192.168.1.160:4222"/>
    <add key="multiTenant" value="true"/>
    <add key="maxMemory" value="4096"/>
    
    //<add key="secure" value="true"/> 
    
    <add key="enforceULimit" value="true"/>
    <add key="force" value="true"/>
    <add key="forceHttpSharing" value="false"/>
    
  </appSettings>
  -->
  
  <configSections>
    <section name="uhuru" type="CloudFoundry.Net.Configuration.UhuruSection, CloudFoundry.Net"/>
  </configSections>
  
  
  <uhuru configSource="uhuru.config"/> 
  
  
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
  </startup>
  
</configuration>
