<uhuru>
  <service
    index="0"
    plan="free"
    capacity="200"
    
    baseDir=".\"
    localRoute="198.41.0.4"
    nodeId="uhurufs_node_free_1"
    zInterval="30000"
    mbus="nats://nats:nats@192.168.1.120:4222/"
    localDb="localDb.xml"
    migrationNfs=""

    maxNatsPayload="1048576"
    fqdnHosts="false"
    opTimeLimit="6"
    
    statusPort="0">

    <uhurufs
      maxStorageSize="100"
      useVhd="true"
      vhdFixedSize="false"
      />

  </service>
</uhuru>