<uhuru xmlns="urn:Uhuru.Configuration">
  <service
    index="0"
    plan="free"
    capacity="200"
    
    baseDir=".\"
    localRoute="198.41.0.4"
    nodeId="uhurufs_node_free_1"
    zInterval="30000"
    mbus="nats://nats:nats@192.168.1.120:4222/"
    localDb="localDb.xml"
    migrationNfs=""

    maxNatsPayload="1048576"
    fqdnHosts="false"
    opTimeLimit="6"
    
    statusPort="0">

    <!-- maxStorageSize units are MiB-->
    <!-- useFrsm will enforce the maxStorageSize through Windows File Server Resource Manager -->
    <!-- useVhd will enforce the maxStorageSize by creating and mounting a VHD with its max size set to maxStorageSize -->
    <!-- Activating both useFsrm and useVhd may give unexpected results. Use with care. -->
    <uhurufs
      maxStorageSize="100"
      useFsrm="true"
      useVhd="false"
      vhdFixedSize="false"
      />

    <supportedVersions defaultVersion="0.9">
      <supportedVersion name="0.9"/>
    </supportedVersions>
  </service>
</uhuru>