<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="target" value="target"/>
    <add key="umbracoRootDir" value="umbracoRootDir"/>
    <add key="CFApiTestAppDir" value="CFApiTestAppDir"/>
    <add key="proxy" value="proxy"/>
    <add key="nats" value="nats"/>
  </appSettings>
</configuration>