<uhuru xmlns="urn:Uhuru.Configuration">
  <service
    index="0"
    plan="free"
    capacity="200"
    
    baseDir=".\"
    localRoute="198.41.0.4"
    nodeId="1"
    zInterval="30000"
    mbus="nats://nats:nats@192.168.1.111:4222/"
    localDb="localDb.xml"
    migrationNfs=""

    maxNatsPayload="1048576"
    fqdnHosts="false"
    opTimeLimit="6"
    
    statusPort="0" >
    
    <mssql
      host="(local)"
      user="sa"
      password="password1234!"
      port="1433"
      
      maxDbSize="20"
      maxLongQuery="3"
      maxLongTx="30"
      maxUserConns="20"
      
      initialDataSize="4096KB"
      dataFileGrowth="5120KB"
      logFileGrowth="1024KB"
      maxDataSize="UNLIMITED"
      initialLogSize="2048KB"
      maxLogSize="UNLIMITED"
      
      logicalStorageUnits="C" />

    <supportedVersions defaultVersion="2008">
      <supportedVersion name="2008"/>
    </supportedVersions>
    <backup
      backupBaseDir="\\192.168.1.105\migration\backup" 
      timeout="120"
      serviceName="mssql"/>
    <worker downloadUrlTemplate="http://dl.vcap.me/serialized/%{service}/%{name}/snapshots/%{snapshot_id}?token=%{token}"
            serializationBaseDir="d:\tmp"
            serviceName="mssql"
            snapshotQuota="50"
            snapshotsBaseDir="d:\tmp"
            tempDir="d:\tmp\tmp">
      <resque host="10.0.21.173"
              port="5454"
              password="aaaxbL98RWpwBuUJvKNojnpIcRb1ot2"
              timeout="-1"/>
      <serialization maxDownloadRedirects="5"
                     maxDownloadSize="10"/>
    </worker>
  </service>
</uhuru>
